/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

figure.profile_pic img {
    border-radius: 50%;
    width: 100%;
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.midSize {
    text-align: center;
}

figure.midSize img {
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

figure.largeSize img {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

img.blogpostSubFigure {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}