{{ define "main" }}
<article>
  <header class="post-header">
    <p><a href="{{ "/blogposts/" | relURL }}">← posts</a></p>
    <time class="post-date">{{ .Date.Format "2006-01-02" }}</time>
    <h1>{{ .Title }}</h1>
    {{- with .Params.summary }}
    <p class="post-summary">{{ . }}</p>
    {{- end }}
  </header>

  <hr>

  <div class="post-content">
    {{ .Content }}
  </div>

  {{- with .Params.tags }}
  <hr>
  <div class="post-tags">
    Tags: {{ range . }}<a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
  </div>
  {{- end }}
</article>
{{ end }}
